.photo-grid {
    display: grid;
    margin: 92px auto 0;
    max-width: 1184px;
    gap: 16px;
}

@media screen and (min-width: 1184px) {
    .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 852px) and (max-width: 1183px){
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 92px 48px 0;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 851px){
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 88px 24px 0;
    }
    
}

@media screen and (max-width: 479px){
    .photo-grid {
        grid-template-columns: 1fr;
        margin: 64px 16px 0;
    }
    
}
