.cover__background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 740px;
    margin: 92px auto 0;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
    transition: .5s ease-in-out;

}

@media  screen and (max-width: 1184px) {
    .cover__background {
        min-height: calc(200px + (740 - 200) * (100vw - 320px) / ( 1184 - 320) );
    }
    
}


@media  screen and (max-width: 768px) {
    .cover__background {
        margin-top: 90px;
    }
    
}

@media  screen and (max-width: 560px) {
    .cover__background {
        margin-top: 66px;
    }
    
}

.cover__background:hover .cover__overlay {
    opacity: 0.8;
}

